.card-row{
	[class*="col-"]{
		span{
			display:block;
			margin-bottom:10px;
		}
	margin-bottom:30px;
	}
	figcaption{
		background-color:$white;
		padding:25px 30px;
		> :last-child{
			padding-bottom:0;
		}
	}
}